body {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}
.weather-app {
  border: 2px solid #a3de83;
  background: #393e46;
  padding: 25px 0 50px 50px;
  margin: 20px auto;
  border-radius: 10px;
  min-width: 550px;
}

.card {
  margin: 40px 20px 0 0;
  background: #a3de83;
  min-width: 470px;
}
.btn-success {
  margin-left: 10px;
  background: #699c4e;
}
.current-location {
  font-size: 16px;
}
.row {
  min-width: 470px;
}
.row .today {
  margin: 10px 20px 0 0;
  border: 2px solid #699c4e;
  border-radius: 0.25rem;

  padding-left: 20px;
}
#today {
  text-align: center;
}
h1 {
  color: #a3de83;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0px -30px 0px;
}

#icon {
  margin: 0 0 -10px -15px;
}

h2 {
  color: #fff;
  font-size: 40px;
}
.units {
  font-size: 18px;
}
.units .active {
  color: #fff;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.weather-type {
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

#today-details {
  padding-left: 60px;
}
.day-details {
  margin: 80px 0 0 30px;
  color: #699c4e;
}

.list-today {
  list-style-type: none;
  padding-left: 0;
  margin-left: 30px;
  color: #699c4e;
}
.next-five-days {
  color: #a3de83;
  border: 2px solid #699c4e;
  margin-left: 15px;
}

.list-group-item {
  background: #393e46;
  border: none;
  padding: 2px 15px 2px 100px;
}

#forecast-day {
  display: inline;
  font-size: 30px;
}
.forecast-high-low {
  margin-left: 85px;
  font-size: 18px;
  color: #699c4e;
}

.code-by {
  text-align: right;
  color: white;
  font-size: 10px;
  padding: 100px 15px 0 0;
  margin-bottom: -40px;
}
